<ul class="post-list">
    {% if site.categories[page.cat] | size > 0 %}
        {% for post in site.categories[page.cat] %}
        <li>
            <p class="post-item">
                <a href="{{ post.url }}" class="post-link">
                    [{{ post.date | date: "%Y-%m-%d"}}] {{ post.title }}
                </a>
                <br />{{ post.subtitle }}
            </p>
            {% include tag-list.html %}
        </li>
        {% endfor %}
    {% elsif page.url == "/" %}
        {% for post in site.posts %}
        <li>
            <p class="post-item">
                <a href="{{ post.url }}" class="post-link">
                    [{{ post.date | date: "%Y-%m-%d"}}] {{ post.title }}
                </a>
                <br />{{ post.subtitle }}
            </p>
            {% include tag-list.html %}
        </li>
        {% endfor %}
    {% else %}
        <p>coming soon (tm)</p>
    {% endif %}
</ul>
