

a { 
    text-decoration: none;
}

h1 {
    font-size: 1.6em;
    margin-bottom: -10px;
}

h2 {
    font-size: 1.4em;
    margin-bottom: -10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: -10px;
}

h4 {
    font-size: 1em;
    margin-bottom: -10px;
}

html {
    font-family: Courier;
    background-color: antiquewhite;
}

body {
    text-align: justify;
    max-width: 50em;
    hyphens: auto;
    margin: auto;
    padding: 1em;
}

pre {
    overflow-x: auto;
}

code {
    color: white;
}

