

a { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline red;
}

a:visited {
    color: darkviolet;
}

h1 {
    font-size: 1.6em;
    margin-bottom: $head-bottom-margin;
}

h2 {
    font-size: 1.4em;
    margin-bottom: $head-bottom-margin;
}

h3 {
    font-size: 1.2em;
    margin-bottom: $head-bottom-margin;
}

h4 {
    font-size: 1em;
    margin-bottom: $head-bottom-margin;
}

html {
    font-family: Courier;
    background-color: $background-color;
    color: $global-font;
}

body {
    //text-align: justify;
    line-height: $body-height;
    max-width: 50em;
    hyphens: auto;
    margin: auto;
    padding: 1em;
}

pre {
    overflow-x: auto;
}

code {
    color: $code-color;
}

