.page-title {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $glider-color;
    text-shadow: $glider-shadow;
}

.page-tag-list {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: $glider-color;
    text-shadow: $glider-shadow;
}

.date {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.page-header {
    border-bottom: solid $border-color;
    padding-bottom: 15px;
}

.post-link {
    font-size: initial;
}

.post-item {
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tag-list {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 16px;
    color: $glider-color;
    text-shadow: $glider-shadow;
}

.lineno {
    color: white;
}

.gutter, .rouge-gutter {
    padding-right: 5px;
    border-right: 2px solid white;
    width: 50px;
    text-align: right;
    text-shadow: none;
}

.post-list {
    color: $glider-color;
    text-shadow: $glider-shadow;
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0;
}

.glider {
    line-height: 0.7;
    margin-top: -0.1rem;
    text-align: center;
    color: $glider-color;
    text-shadow: $glider-shadow;
    font-weight: bolder;
}

.nav {
    text-align: center;
    margin-top: 15px;
    height: 20px;
}
