.current {
    color: green;
}

.page-title {
    font-size: 1.8em;
    margin-bottom: -10px;
}

.content-title {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.content-subtitle {
    font-size: 1em;
    margin-top: -15px;
    margin-bottom: -10px;
}

.lineno {
    color: white;
}

.gutter {
    padding-right: 5px;
    border-right: 2px solid white;
}

.date {
    font-size: .8em;
}

.post-list {
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0;
}