.page-title {
    font-size: 1.8em;
    margin-bottom: -15px;
}

.page-subtitle {
    color: $glider-color;
    text-shadow: $glider-shadow;
}

.page-header {
    border-bottom: solid $border-color;
    padding-bottom: 15px;
}

.tag-list {
    font-size: .8em;
    margin-top: -12px;
    color: $glider-color;
    text-shadow: $glider-shadow;
}

.post-item {
    font-size: .8em;
}

.post-link {
    font-size: initial;
}

.lineno {
    color: white;
}

.gutter {
    padding-right: 5px;
    border-right: 2px solid white;
}

.date {
    font-size: .8em;
    margin-top: -13px;
}

.post-list {
    color: $glider-color;
    text-shadow: $glider-shadow;
    list-style-type: none;
    margin-bottom: 1em;
    padding: 0;
}

.glider {
    line-height: 0.7;
    margin-top: -0.1rem;
    text-align: center;
    color: $glider-color;
    text-shadow: $glider-shadow;
    font-weight: bolder;
}

.nav {
    text-align: center;
    margin-top: 15px;
    height: 20px;
}