---
subtitle: you're it
---

<div class="tag-page">
    <h2 class="tag-header">#{{ page.tag }}</h2>
    <ul class="post-list">
    {% for post in site.tags[page.tag] %}
        <li>
            <p class="{{ site.data.headers.class.plist }}">
                <a href="{{ post.url }}" class="{{ site.data.headers.class.plink }}">
                    [{{ post.date | date: "%Y-%m-%d"}}] {{ post.title }}
                </a><br />
                {{ post.subtitle }}
            </p>
        </li>
    {% endfor %} 
    </ul>
</div>
